@font-face {
  font-family: 'roboto';
  src: url(../fonts/Roboto-Regular.ttf);
}

body {
  font-family: 'roboto';
}

.container {
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5em;
}

.headerCon {
  width: 100%;
  display: flex;
  justify-content: center;
}
.header {
  display: grid;
  grid-template-columns: 1fr 35px 1fr;
  width: 350px;
  height: fit-content;
}

.cityName {
  grid-column: 1 / 4;
  text-align: center;
  font-size: 50px;
}

.currentTemp,
.infoText {
  text-align: center;
  font-size: 30px;
  border: none;
}
.currentTemp {
  width: 100%;
  display: grid;
  place-content: end;
}

.infoText {
  width: 200px;
}

.line {
  border: 3px solid black;
  border-radius: 6px;
  width: 0.1px;
  height: 30px;
}

.lineCon {
  width: 100%;
  display: grid;
  place-content: end;
}

.time {
  display: flex;
  justify-content: center;
  gap: 7em;
  border: solid 1px black;
  border-radius: 10px;
  height: fit-content;
  width: 60em;
}

.hourContainer,
.dayContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  font-size: 20px;
  padding: 20px;
}

.week {
  display: flex;
  justify-content: space-between;
  border: solid 1px black;
  border-radius: 10px;
  width: 90%;
}

.dayTemp {
  width: 120px;
}
